/* @settings

name: CSS Callout Menu
id: css-callout-menu
settings:
    -
        id: css-menu-background-color
        title: Background Color
        type: variable-color
        opacity: true
        format: hex
        alt-format:
            -
                id: menu-background-color
                format: rgb
        default: "#8A2387"
    -
        id: menu-background-image
        title: Background Image
        description: Background image for menu
        type: variable-text
        default: yahyahushaearth.jpg
	-
        id: menu-width
        title: Menu Width
        description: Width size for the WHOLE menu
        type: variable-number-slider
        default: 100
		min: 10
        max: 100
        format: "%"
    -
        id: menu-padding
        title: Menu Padding
        description: Padding size for the WHOLE menu
        type: variable-number-slider
        min: 10
        max: 200
        default: 30
		format: px
    -
        id: menu-height
        title: Menu Height
        description: Height size for the WHOLE menu
        type: variable-number-slider
        min: 20
        max: 300
        step: 20
        default: 100
		format: px
    -
        id: right
        title: Menu Position
        description: Position of the Menu | Make sure width is less than 100% for this to work.
        type: class-toggle
    -
        id: menu-border-radius
        title: Border Radius
        description: Change the WHOLE menu's border radius
        type: variable-number-slider
        default: 0
		min: 0
        max: 30
		format: px
    -
        id: menu-butons
        title: Buttons
        type: heading
        level: 2
        collapsed: true
    -
        id: menu-button-background-color
        title: Button Background Color
        type: variable-color
        opacity: true
        format: hex
        alt-format:
            -
                id: menu-button-background-color
                format: rgb
        default: '#F27121'
    -
        id: menu-button-hover-background-color
        title: Button Hover Background Color
        type: variable-color
        opacity: true
        format: hex
        alt-format:
            -
                id: menu-button-hover-background-color
                format: rgb
        default: '#E94057'
    -
        id:  menu-button-text-color
        title: Button Text Color
        type: variable-color
        opacity: true
        format: hex
        alt-format:
            -
                id: menu-button-text-color
                format: rgb
        default: '#000000'
    -
        id: menu-button-padding
        title: Button Padding
        description: Padding Size for Menu
        type: variable-number-slider
        min: 10
        max: 50
        default: 15
		format: px
    -
*/


body{
    --menu-size: calc(var(--menu-height) + var(--menu-padding) + var(--menu-padding));
    --menu-button-border-color: color-mix(in srgb, var(--menu-button-background-color), black 50%);
    --menu-button-hover-border-color: color-mix(in srgb, var(--menu-button-hover-background-color), black 50%)
}
.topmenu .inline-title,
.topmenu > .markdown-preview-view div {
    margin-top: var(--menu-size) !important;
}
.topmenu div.is-live-preview .callout[data-callout="top"], .cm-callout > div > .callout[data-callout="top"], .callout[data-callout="top"] > div {
  overflow: hidden;
  width: var(--menu-width) !important;
  border-radius: var(--menu-border-radius);
  background: url('var(--menu-background-image)') var(--menu-background-color) !important;
  overflow: hidden;
  height: calc(var(--menu-size) - 30px);
  position: absolute; /* Set the navbar to fixed position */
  top: 0px !important; /* Moves Menu to the top */
  right: 0px ;
  text-align: center !important;
  display: block !important;
}


.callout[data-callout="top"] .callout-content {
	text-align: center !important;
	overflow: hidden;
     padding: var(--menu-padding) !important;
     display: inline-block !important;
}

.callout[data-callout="top"] .callout-title,
.callout[data-callout="top"] .callout-title-inner {
	display: none !important;
	padding: 0px !important;
}
.callout[data-callout="top"] .callout-fold,
.callout[data-callout="top"] .callout-icon {
	display: none;
}
.callout[data-callout="top"] table {
  width: 99% !important;
  border: #FFFFFF !important;
  border-radius: 15px !important;

}


/* CALLOUT METADATA */
.callout[data-callout-metadata="menu"]  {
	--icon-size: 5em !important;
}


    /* -- Main Code. Use media query so that floats only works when there's enough width */
@media (min-width: 500px){
        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fl"]) { display: inline; z-index: 30;}
        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fl"]) > div > .callout { float: left; z-index: 30; }
        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fl"]) > .edit-block-button { display: none; }
        .markdown-reading-view div[data-callout-metadata*="left"].callout {float: left;}

        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fr"]) { display: inline; z-index: 30;}
        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fr"]) > div > .callout { float: right; z-index: 30; }
        .markdown-source-view .cm-embed-block.cm-callout:has(> div.markdown-rendered > [data-callout-metadata*="fr"]) > .edit-block-button { display: none; }
        .markdown-reading-view div[data-callout-metadata*="right"].callout {float: right; }

        .markdown-source-view.mod-cm6 .cm-embed-block.cm-callout :is(.callout[data-callout-metadata*="left"], .callout[data-callout-metadata*="right"]) .callout-content > p:last-of-type { margin-bottom: auto;}

        [data-callout-metadata*="fr"].cm-embed-block.cm-callout {width: auto !important;}

}


/* CSS MENU LINKS */
.callout[data-callout="top"] a.internal-link {
	color: var(--menu-button-text-color);
	font-family: Google Sans;
	font-weight: 800;
	background: var(--menu-button-background-color);
	font-size: 20px;
	text-decoration: none;
	letter-spacing: .08em;
    margin-right: 20px;
	transition: all .5s ease-in-out;
	text-align: center !important;
	border-bottom: 5px var(--menu-button-border-color) solid !important;
	display: inline-block !important;
    position: relative !important;
    vertical-align: top !important;
	border-radius: 20px !important;
	padding: var(--menu-button-padding);
	opacity: 1 !important;
}
.callout[data-callout="top"] a.internal-link:hover {
	color: var(--text-accent) !important;
	border-radius: 20px !important;
	opacity: 1 !important;
	text-decoration: none;
	background-color: var(--menu-button-hover-background-color); !important;
    border-bottom: 5px var(--menu-button-hover-border-color) solid !important;
}

